@theme "theme.rasi"

configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Flat-Remix-Blue-Dark";
    terminal: "kitty";
    drun-display-format: "{name}";
    click-to-exit: true;
}